/* Reset */
* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

/*removendo quadrado azul onclick*/
*{
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  }

/* Variables */
:root {
  --main-color: #510273;
  --main-text-color: #FFF;
  --border-color: #999;
  --bio-bg-color: #bebfb8;
  --bio-border-color: #293544;
  --about-bg-color: #19222e;
}

a{
  text-decoration: none;
  color: var(--main-color);
}

/* General */
.italic{
  color: var(--bio-bg-color);
}
.highlight {
  color: var(--main-color);
}

/* Containers */
#container {
  display: flex;
  flex-direction: row;
  color: var(--main-text-color);
}

#bio-container {
  flex: 1 1 20%;
  min-height: 100vh;
  background-color: var(--bio-bg-color);
  text-align: center;
  padding: 30px 15px;
  border-right: 5px solid var(--bio-border-color);
}

#about-container {
  flex: 1 1 80%;
  min-height: 100vh;
  background-color: var(--about-bg-color);
  padding: 50px;
}

/* Bio container */
.logo{
  max-width: 100%;
  width: 200px;
}
#bio-container h2 {
  margin-bottom: 25px;
}

#bio-container p {
  margin-bottom: 20px;
}

#bio-container #welcome-text {
  font-weight: bold;
}

#bio-image {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  border: 3px solid var(--main-color);
  margin-bottom: 25px;
}

#social-container {
  display: flex;
  justify-content: center;
  list-style: none;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 25px;
  padding-bottom: 25px;
}

#social-container li {
  flex: 1 1 0;
  max-width: 60px;
}

#social-container li a {
  color: var(--main-color);
  font-size: 30px;
  transition: 0.3s;
  display: inline-block;
}

#social-container li a:hover{
  transform: translateY(-8px);
}

#email-container {
  display: flex;
  justify-content: center;
}

#email-container ion-icon,
#email-container a {
  flex: 1 1 0;
}

#email-container a {
  color: var(--main-text-color);
  text-decoration: none;
  max-width: 225px;
}

#email-container ion-icon {
  color: var(--main-color);
  font-size: 20px;
  margin-right: 5px;
  max-width: 20px;
}

/* about container */
#name {
  font-size: 42px;
  margin-bottom: 15px;
}

#title {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: bold;
}

.description {
  max-width: 75%;
  margin-bottom: 10px;
}
.butoes{
  display: flex;
}

#btn-projects {
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  color: var(--main-text-color);
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  border-radius: 5px;
  text-decoration: none;
  transition: .5s;
  margin: 25px 8px;
  padding: 12px 10px;
  width: 150px;
  text-align: center;
  display: flex;
}

#btn-projects ion-icon,
#btn-projects span {
  flex: 1 1 0;
}

#btn-projects ion-icon {
  font-size: 20px;
  max-width: 20px;
}

#btn-projects:hover {
  background-color: transparent;
}

#skills-section-title {
  border-top: 1px solid var(--border-color);
  padding-top: 20px;
  margin-bottom: 20px;
  font-size: 32px;
}

#skills-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
  gap: 15px;
}

.skills-box {
  flex: 1 1 33%;
  max-width: 33%;
  margin-bottom: 35px;
}

.skills-title {
  font-size: 24px;
  margin-bottom: 25px;
  font-weight: bold;
  padding-left: 10px;
  border-left: 5px solid var(--main-color);
}

.skills-box i {
  font-size: 45px;
  margin-right: 10px;
}

footer{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
/*
** 
** janela modal
**
*/
#modal{
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(153, 153, 153, 0.3);
  z-index: 999;
}
#containerModal{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 85%;
  max-width: 600px;
  height: auto;
  background: rgb(255,255,255);
  border-radius: 3px;
  padding: 30px 10px;
  text-align: center;
  box-shadow: 0 10px 10px 0px rgb(200,200,200);
}
#headerModal{
  width: 100%;   
}
#headerModal h2{
  font-size: 1.5rem;
  color: var(--main-color);
}
#contentModal{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px 0;
  font-size: 1.4rem;
  color: var(--main-color);
}
.card{
  display: flex;
  flex-direction: column;
}
.card ion-icon{
  font-size: 120px;
  cursor: pointer;
  transition: .5s;
  border-radius: 50%;
  padding: 10px;
}

.card ion-icon:hover{
  color: var(--main-text-color);
  background-color: var(--main-color);
}

.card h3{
  margin-bottom: 20px;
  color: var(--bio-border-color);
  max-width: 150px;
}
#footerModal{
  width: 100%;
}
#footerModal p {
  display: none;
  margin: 10px auto;
}
#footerModal #confirmModal{
  width: 80%;
  max-width: 200px;
  height: auto;
  padding: 8px 0;
  background: var(--main-color);
  color: var(--main-text-color);
  border: 2px solid var(--main-color);
  border-radius: 3px;
  font-size: 1rem;
  font-weight: 300;
  transition: all .4s ease-in-out;
}
#footerModal #confirmModal:hover{
  cursor: pointer;
  background: var(--main-text-color);
  color: var(--main-color);
}

/* Mobile */
@media(max-width:600px){
  #contentModal{
    width: 100%;
    flex-direction: column-reverse;
    background-color:var(--main-text-color);
    border-radius: 10px;
    overflow: scroll;
    height: 300px;
  }
  #footerModal p {
    display: block;
  }
  .card{
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .butoes{
    flex-direction: column;
  }
  
  #about-container {
    text-align: center;
    padding: 30px;
  }

  #about-container .description {
    margin: 10px auto;
    max-width: 100%;
    line-height: 26px;
  }

  #btn-projects {
    margin: 20px auto;
  }

  .skills-box {
    flex: 1 1 100%;
    max-width: 100%;
    margin-bottom: 40px;
    text-align: left;
  }

  .skills-box i {
    font-size: 60px;
  }

  footer{
    flex-direction: column;
  }

  footer p{
    margin: 8px auto;
  }
}
@media(max-width: 450px) {
  .logo{
    width: 250px;
  }

  #container {
    flex-direction: column;
  }

  #bio-container {
    min-height: auto;
    border-right: none;
    border-bottom: 5px solid var(--bio-border-color);
  }

  #bio-container h2 {
    display: none;
  }

  #bio-container p {
    max-width: 60%;
    margin: 10px auto;
  }

}